{{ article.locale_date }}

{% if article.author %}
by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
{% endif %}

{% if article.translator %}
(Translated by {{ article.translator }})
{% endif %}

{% if article.tags %}
with tags {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> {% endfor %}
{% endif %}
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
